<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>任务日历</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/static/web/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/web/assets/css/ready.css">
    <link rel="stylesheet" href="/static/web/assets/css/demo.css">

    <script src='/static/js/jquery-3.4.1.js'></script>

    <link href='/static/libs/fullcalendar-4.2.0/packages/core/main.css' rel='stylesheet' />
    <link href='/static/libs/fullcalendar-4.2.0/packages/daygrid/main.css' rel='stylesheet' />
    <script src='/static/libs/fullcalendar-4.2.0/packages/core/main.js'></script>
    <script src='/static/libs/fullcalendar-4.2.0/packages/interaction/main.js'></script>
    <script src='/static/libs/fullcalendar-4.2.0/packages/daygrid/main.js'></script>

    <script>
        $(document).ready(function() {

            var initPage = function() {
                console.log("do init...");
                console.log(localStorage.USER_NAME);

                $("#username1").html(localStorage.USER_NAME);
                $("#username2").html(localStorage.USER_NAME);
                $("#username3").html(localStorage.USER_NAME);
            };

            initPage();

            var dataList = [];
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                defaultDate: '2019-07-15',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: function(info, successCallback, failureCallback) {
                    var events = [];
                    var userNo = localStorage.USER_NO;
                    $.get("http://localhost:5000/getTaskList/" + userNo + "/2019-07-01", function(data) {
                        dataList = data;
                        $.each(data, function(i, item) {
                            var content = {};
                            content["title"] = "[" + item.Category + "]" + item.TaskName;
                            content["start"] = item.CheckDate;

                            if (item.Status == 0) {
                                content["textColor"] = "#000000";
                                content["borderColor"] = "#996600";
                                content["backgroundColor"] = "#FFCC00";
                            } else {
                                content["textColor"] = "#000000";
                                content["borderColor"] = "#996600";
                                content["backgroundColor"] = "#88FF88";
                            }
                            events.push(content);
                        });
                        // console.log(JSON.stringify(events));
                        successCallback(events);

                        setTimeout(function() {
                            // $("[data-date='2019-06-22']").append("<div style='background-color:#00ff00;color:#ff0000'>90%</div>");
                        }, 3000);
                    });
                },
                dateClick: function(e) {
                    console.log(e.date);

                    $("#taskName").html(e.dateStr + " 的任务");
                    $("#taskDetail").html("");

                    var tmpStr = "";
                    tmpStr += "<table class='table table-head-bg-primary mt-4'>";
                    tmpStr += "<thead><tr>";
                    tmpStr += "<th th scope='col'>类别</th>";
                    tmpStr += "<th th scope='col'>子类</th>";
                    tmpStr += "<th th scope='col'>任务名称</th>";
                    tmpStr += "<th th scope='col'>分数</th>";
                    tmpStr += "<th th scope='col'>状态</th>";
                    tmpStr += "<th th scope='col'>检测时间</th>";
                    tmpStr += "<th th scope='col'>操作</th>";
                    tmpStr += "</tr></thead><tbody>";
                    $.each(dataList, function(i, item) {
                        if (item.FromDate == e.dateStr) {
                            tmpStr += "<tr>";
                            tmpStr += "<td>" + item.Category + "</td>";
                            tmpStr += "<td>" + item.SubCategory + "</td>";
                            tmpStr += "<td>" + item.TaskName + "</td>";
                            tmpStr += "<td>" + item.Point + "</td>";
                            tmpStr += "<td>" + (item.Status == "1" ? "已完成" : "未完成") + "</td>";
                            tmpStr += "<td>" + item.CheckDate + "</td>";
                            tmpStr += "<td><button onclick='finish(\"" + item.UserTaskNo + "\")'>" + (item.Status == "1" ? "哦，还没完成" : "我完成了") + "</button></td>";
                            tmpStr += "</tr></tbody>";
                        }
                    });
                    tmpStr += "</table>";
                    $("#taskDetail").append(tmpStr);
                }
            });

            calendar.render();
        });

        var finish = function(utid) {
            console.log(utid);

            $.get("http://localhost:5000/handleUserTask/" + utid + "", function(data) {
                $("#calendar").fullCalendar("updateEvent", events);
            });
        };
    </script>
</head>

<body>
    <div class="wrapper">
        
        <!-- header -->
        {% include "master/header.html" ignore missing %}
        <!-- sider -->
        {% include "master/sider.html" ignore missing %}

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">任务日历</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">我的任务日历列表</h4>
                                    <p class="card-category">按时间显示我的所有任务</p>
                                </div>
                                <div class="card-body">
                                    <p class="demo">
                                        <div id='calendar'></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 id="taskName" class="card-title">任务名称</h4>
                                    <p id="taskDesc" class="card-category">说明</p>
                                </div>
                                <div class="card-body">
                                    <p id="taskDetail" class="demo">
                                        任务内容
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% include "master/main-footer.html" ignore missing %}
        </div>
    </div>
    
</body>
<script src="/static/web/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/web/assets/js/core/popper.min.js"></script>
<script src="/static/web/assets/js/core/bootstrap.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/static/web/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/web/assets/js/ready.min.js"></script>
<script>
    $(function() {
        $("#slider").slider({
            range: "min",
            max: 100,
            value: 40,
        });
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300]
        });
    });
</script>

</html>