<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Winyra - 副表</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/static/web/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/web/assets/css/ready.css">
    <script src='/static/js/jquery-3.4.1.js'></script>
    <script src='/static/js/my.js'></script>
    <style>
        .tskpendding {
            background-color: #FF6666;
        }
        
        .tskdone {
            background-color: #0066CC;
        }
        
        .tskheader {
            background-color: #444444;
        }
        
        .tskheader th {
            color: #ffffff!important;
        }
        
        .my-control {
            padding: 2px;
        }
        
        .tskdone,
        .tskpendding td {
            color: #ffffff!important;
        }
        
        .tskcontainer {}
    </style>
    <script>
        $(document).ready(function() {
            PageInit();
        });

        var tskList = [];

        function timeStamp2String(time) {
            var datetime = new Date();
            datetime.setTime(time);
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            // var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
            // var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            // var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            return year + "-" + month + "-" + date;
        }

        var showTaskDetail = function(itemNo) {
            console.log(itemNo);
            var item = tskList[itemNo];
            console.log(tskList);
            var tCategory = "<b>类别：</b>" + item.Category;
            var tSubCategory = "<b>子类：</b>" + item.SubCategory;
            var tName = "<b>名称：</b>" + item.TaskName;
            var tPoint = "<b>分值：</b>基础分值 10分"; // + item.Point;
            var tFromDate = "<b>开始日期：</b>" + timeStamp2String(new Date(item.FromDate));
            var tToDate = "<b>结束日期：</b>" + timeStamp2String(new Date(item.ToDate));
            var tCheckDate = "<b>检查日期：</b>" + timeStamp2String(new Date(item.CheckDate));
            var tStatus = "<b>状态：</b>" + (item.Status == "0" ? "未完成" : "已完成");
            var htmlStr = "<div class='tskcontainer'>";
            htmlStr += "<div class='tskitem'>" + tCategory + "</div>";
            htmlStr += "<div class='tskitem'>" + tSubCategory + "</div>";
            htmlStr += "<div class='tskitem'>" + tName + "</div>";
            htmlStr += "<div class='tskitem'>" + tPoint + "</div>";
            htmlStr += "<div class='tskitem'> <b>说明：</b>此任务为常规任务，可以在任何时间段内完成，请认真填写具体情况，后续会根据规则进行分值计算</div>";
            // htmlStr += "<div class='tskitem'>" + tFromDate + "</div>";
            // htmlStr += "<div class='tskitem'>" + tToDate + "</div>";
            // htmlStr += "<div class='tskitem'>" + tStatus + "</div>";
            // htmlStr += "<div class='tskitem'>" + tCheckDate + "</div>";
            htmlStr += "</div>";

            $("#tskBaseinfo").html(htmlStr);

            showInfoByCtg(item, item.SubCategory);
        };
        // 根据不同的任务类型显示需要输入的信息
        // input 参数: category 任务类型
        var showInfoByCtg = function(item, category) {
            console.log("category:" + category);
            var actions = "";

            actions += "任务用时：<input id='inA' class='my-control' /> <br />";
            actions += "错误数量：<input id='inB' class='my-control' /> <br />";
            actions += "测试分数：<input id='inC' class='my-control' /> <br />";
            actions += "自我评测：<input id='inD' class='my-control' /> <br />";
            actions += "总公里数：<input id='inE' class='my-control' /> <br />";
            actions += "其他说明：<textarea id='inF' class='my-control' ></textarea> <br />";
            actions += "<button class='btn btn-success' onclick=\"finish('" + item.UserTaskNo + "')\">提交</button>";
            $("#tskAction").html(actions);
        };

        var finish = function(utid) {
            console.log(utid);
            var tsk = tskList[utid];
            console.log(tsk);

            var a = $("#inA").val();
            var b = $("#inB").val();
            var c = $("#inC").val();
            var d = $("#inD").val();
            var e = $("#inE").val();
            var f = $("#inF").val();

            $.post(
                sys.hostUrl + "/handleUserEverydayTask",
                JSON.stringify({
                    "inA": a,
                    "inB": b,
                    "inC": c,
                    "inD": d,
                    "inE": e,
                    "inF": f,
                    "inDESC": tsk.Category + ":" + tsk.SubCategory + ":" + tsk.TaskName,
                    "inUN": localStorage.USER_NO
                }),
                function(data) {
                    PageInit();
                    $("#tskAction").html("");
                    $("#tskBaseinfo").html("");
                    $("#" + utid + "").css("background-color", "#0066CC");
                }
            )
        };

        var ShowPie = function(a, b) {
            var done = ((100 * a) / (a + b)).toFixed(0);
            var pendding = ((100 * b) / (a + b)).toFixed(0);

            Chartist.Pie('#monthlyChart', {
                labels: ['' + done + '%', '' + pendding + '%'],
                series: [done, pendding]
            }, {
                plugins: [
                    Chartist.plugins.tooltip()
                ]
            });
        }

        var PageInit = function() {

            var data = [{
                UserTaskNo: "T001",
                Category: "音乐",
                TaskName: "练习钢琴基础",
                SubCategory: "钢琴"
            }, {
                UserTaskNo: "T002",
                Category: "运动",
                TaskName: "跑步挑战",
                SubCategory: "跑步"
            }, {
                UserTaskNo: "T003",
                Category: "读书",
                TaskName: "全球通史",
                SubCategory: "历史"
            }, ];

            $("#taskList").html("");
            $.each(data, function(i, item) {
                // UserTaskNo, Category, SubCategory, TaskName, Tasks.Point
                var tmpString = "";
                tmpString += "<tr id='" + item.UserTaskNo + "' class='tskpendding'>";
                // tmpString += "	<td scope='row'>" + item.UserTaskNo + "</td>";
                tmpString += "	<td>[" + item.Category + "]" + item.SubCategory + "</td>";
                tmpString += "	<td>" + item.TaskName + "</td>";
                // tmpString += "	<td>" + item.Point + "</td>";
                // tmpString += "	<td>" + (item.Status == 0 ? "未完成" : "已完成") + "</td>";
                tmpString += "	<td><button onclick='showTaskDetail(\"" + item.UserTaskNo + "\")'>" + "完成" + "</button></td>";
                tmpString += "</tr>";

                $("#taskList").append(tmpString);

                tskList[item.UserTaskNo] = item;
            });
            console.log(tskList);
        }
    </script>
</head>

<body>
    <div class="wrapper">


        <!-- header -->
        {% include "master/header.html" ignore missing %}
        <!-- sider -->
        {% include "master/sider.html" ignore missing %}
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">常规任务</h4>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">任务列表</div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="tskheader">
                                                <!-- <th>#</th> -->
                                                <th>任务类别</th>
                                                <th>任务名称</th>
                                                <!-- <th>任务积分</th>
                                                <th>任务状态</th> -->
                                                <th>任务操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="taskList">

                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">任务详情</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" id="tskBaseinfo">
                                            请选择一个任务！
                                        </div>
                                        <div class="col-md-6" id="tskAction">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "master/main-footer.html" ignore missing %}
        </div>
    </div>


</body>
<script src="/static/web/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/web/assets/js/core/popper.min.js"></script>
<script src="/static/web/assets/js/core/bootstrap.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/static/web/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/web/assets/js/ready.min.js"></script>

<script src="/static/web/assets/js/demo.js"></script>

</html>