<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Winyra - 任务状态</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/static/web/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/web/assets/css/ready.css">
    <link rel="stylesheet" href="/static/web/assets/css/demo.css">


    <link href='/static/libs/fullcalendar-4.2.0/packages/core/main.css' rel='stylesheet' />
    <link href='/static/libs/fullcalendar-4.2.0/packages/daygrid/main.css' rel='stylesheet' />

    <script src='/static/js/jquery-3.4.1.js'></script>
    <script src='/static/js/my.js'></script>
    <style>
        .tblock {
            margin: 2px;
            float: left;
            height: 20px;
            width: 20px;
        }
        
        .tblockDone {
            background-color: #66FF66;
        }
        
        .tblockPendding {
            background-color: #FF4444;
        }
        
        .tbtitle {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
    <script>
        var TskList = [];

        function timeStamp2String(time) {
            var datetime = new Date();
            datetime.setTime(time);
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            // var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
            // var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            // var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            return year + "-" + month + "-" + date;
        }

        var finish = function(utid) {

            console.log(utid);
            var tsk = TskList[utid];
            console.log(JSON.stringify(tsk));
            console.log(tsk.Point);

            var a = $("#inA").val();
            var b = $("#inB").val();
            var c = $("#inC").val();
            var d = $("#inD").val();
            var e = $("#inE").val();
            var f = $("#inF").val();

            $.post(
                sys.hostUrl + "/handleUserTask/" + utid + "",
                JSON.stringify({
                    "inA": a,
                    "inB": b,
                    "inC": c,
                    "inD": d,
                    "inE": e,
                    "inF": f,
                    "Point": tsk.Point
                }),
                function(data) {
                    PageInit();
                    $("#tskAction").html("");
                    $("#tskBaseinfo").html("");
                }
            )
        };

        // 根据不同的任务类型显示需要输入的信息
        // input 参数: category 任务类型
        var showInfoByCtg = function(item, category) {
            // console.log("category:" + category);
            var actions = "";
            // if (category == "背诵新概念") {
            //     // 新概念
            //     actions += "任务用时：<input /> <br />";
            //     actions += "错误数量：<input /> <br />";
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "自学课本") {
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "51Talk") {
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "物理讲课") {
            //     actions += "任务用时：<input /> <br />";
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // }
            // 物理数学
            // 自学：说明
            // 测试：分数，说明
            // 讲课：用时，说明
            // 听课：说明

            // 51Talk
            // 说明

            // 运动
            // 游泳：时间，状态，说明
            // 跑步：时间，状态，公里数，说明

            // 钢琴
            // 时间，状态，流利程度，说明

            // Winyra
            // 自学：说明
            // 讲课：用时，说明
            // 实践：用时，成果

            actions += "任务用时：<input id='inA' class='my-control' /> <br />";
            actions += "错误数量：<input id='inB' class='my-control' /> <br />";
            actions += "测试分数：<input id='inC' class='my-control' /> <br />";
            actions += "自我评测：<input id='inD' class='my-control' /> <br />";
            actions += "总公里数：<input id='inE' class='my-control' /> <br />";
            actions += "其他说明：<textarea id='inF' class='my-control' ></textarea> <br />";
            actions += "<button class='btn btn-success' onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            $("#tskAction").html(actions);
        };

        var isSelected = false;
        var showCtg = function(ctg) {
            console.log(ctg);
            if (!isSelected) {
                $("[data-category='" + ctg + "']").css("border", "solid");
            } else {
                $("[data-category='" + ctg + "']").css("border", "none");
            }
            isSelected = !isSelected;
        };

        var showTaskDetail = function(itemNo) {
            isSelected = false;
            $("[data-category]").css("border", "none");
            var item = TskList[itemNo];
            //console.log(JSON.stringify(item));
            var tCategory = "<b>类别：</b>" + item.Category;
            var tSubCategory = "<b>子类：</b>" + item.SubCategory;
            var tName = "<b>名称：</b>" + item.TaskName;
            var tPoint = "<b>分值：</b>" + item.Point;
            var tFromDate = "<b>开始日期：</b>" + timeStamp2String(new Date(item.FromDate));
            var tToDate = "<b>结束日期：</b>" + timeStamp2String(new Date(item.ToDate));
            var tCheckDate = "<b>检查日期：</b>" + timeStamp2String(new Date(item.CheckDate));
            var tStatus = "<b>状态：</b>" + (item.Status == "0" ? "未完成" : "已完成");
            var htmlStr = "<div class='tskcontainer'>";
            htmlStr += "<div class='tskitem'>" + tCategory + "</div>";
            htmlStr += "<div class='tskitem' onclick='showCtg(\"" + item.SubCategory + "\")'>" + tSubCategory + "</div>";
            htmlStr += "<div class='tskitem'>" + tName + "</div>";
            htmlStr += "<div class='tskitem'>" + tPoint + "</div>";
            htmlStr += "<div class='tskitem'>" + tFromDate + "</div>";
            htmlStr += "<div class='tskitem'>" + tToDate + "</div>";
            htmlStr += "<div class='tskitem'>" + tStatus + "</div>";
            htmlStr += "<div class='tskitem'>" + tCheckDate + "</div>";
            htmlStr += "</div>";

            $("#tskBaseinfo").html(htmlStr);

            showInfoByCtg(item, item.SubCategory);
        };

        //date1:小日期   date2:大日期
        function DateMinus(date1, date2) {
            var sdate = new Date(date1);
            var now = new Date(date2);
            var days = now.getTime() - sdate.getTime();
            var day = parseInt(days / (1000 * 60 * 60 * 24));
            return day;
        };

        var getNSpaces = function(n) {
            var htmlStr = "&nbsp;";
            // for (var i = 0; i <= n; i++) {
            //     htmlStr += "&nbsp;&nbsp;&nbsp;&nbsp;";
            // }
            return htmlStr;
        };

        var getCategoryStyle = function(ctg, sCtg) {
            // console.log(ctg, sCtg);
            // 英语 背诵新概念
            var htmlStr = "";
            switch (ctg) {
                case "英语":
                    htmlStr = "border-top:solid 7px #CCC";
                    break;
            }
            return ""; //htmlStr;
        };

        var showCtgTasks = function(ctg, subCtg) {
            console.log(ctg, subCtg);
        };

        var PageInit = function() {
            var userNo = localStorage.USER_NO;

            var total = 0;
            var done = 0;
            var pendding = 0;
            $.get(sys.hostUrl + "/getTaskList/" + userNo + "/2019-07-01", function(data) {

                $("#taskblock").html("");
                $("#taskblocktitle").html("");
                $.each(data, function(i, item) {
                    TskList[item.UserTaskNo] = item;

                    // var tDate = new Date(item.ToDate);
                    // var fDate = new Date(item.FromDate);
                    var days = DateMinus(item.FromDate, item.ToDate);

                    var tmpSpan = "";
                    tmpSpan = "<span id='TSK_" + item.UserTaskNo + "' data-category='" + item.SubCategory + "' style='" + getCategoryStyle(item.Category, item.SubCategory) + "' onclick='showTaskDetail(\"" + item.UserTaskNo + "\")' title='" + item.CheckDate + ":" + item.TaskName + "' class='tblock " + (item.Status == "1" ? "tblockDone" : "tblockPendding") + "'>" + getNSpaces(days) + "</span>"

                    $("#taskblock").append(tmpSpan);

                    total += 1;
                    if (item.Status == 1)
                        done += 1;
                    else
                        pendding += 1;
                });

                var htmlStr = "总任务数量：" + total + "，已完成：" + done + "，未完成：" + pendding + "，完成：" + (100 * done / total).toFixed(2) + "%，继续加油哦！";
                $("#taskblocktitle").append(htmlStr);
            });
        };

        var transform = function(t) {
            switch (t) {
                case 0:
                    transform_formal();
                    break;
                case 1:
                    transform_reset();
                    break;
                case 2:
                    transform_animate();
                    break;
                case 3:
                    transform_animate3();
                    break;
                case 4:
                    transform_animate4();
                    break;
                case 5:
                    transform_animate4();
                    break;
                default:
                    break;
            }
        };
        var transform_reset = function() {
            $("#taskblock2").html("");
            $("#taskblock").html("");
            PageInit();
        };

        var transform_animate5 = function() {
            var htmlString = "";
            $.each(TskList, function(k, v) {
                if (v != null) {
                    setTimeout(function() {
                        var tmpDiv = $("#TSK_" + v.UserTaskNo + "");
                        tmpDiv.animate({
                            height: "" + parseInt(Math.random() * 500) + "px",
                            width: "" + parseInt(Math.random() * 500) + "px"
                        });
                        tmpDiv.fadeOut();

                        tmpDiv.fadeIn();
                        tmpDiv.animate({
                            height: "20px",
                            width: "20px"
                        });
                    }, parseInt(Math.random() * 500));
                }
            });
        };

        var transform_animate4 = function() {
            var htmlString = "";
            $.each(TskList, function(k, v) {
                if (v != null) {
                    setTimeout(function() {
                        var tmpDiv = $("#TSK_" + v.UserTaskNo + "");
                        tmpDiv.animate({
                            height: "" + parseInt(Math.random() * 500) + "px",
                            width: "" + parseInt(Math.random() * 500) + "px"
                        }, parseInt(Math.random() * 5000));
                        tmpDiv.fadeOut();

                        tmpDiv.fadeIn();
                        tmpDiv.animate({
                            height: "20px",
                            width: "20px"
                        });
                    }, parseInt(Math.random() * 500));
                }
            });
        };

        var transform_animate3 = function() {
            var htmlString = "";
            var ctgList = [];
            $.each(TskList, function(k, v) {
                if (v != null && $.inArray(v.Category, ctgList) < 0) {
                    ctgList.push(v.Category);
                }
            });

            // console.log(ctgList.length);
            $.each(ctgList, function(k, v) {
                htmlString += "<div class='card'><div class='tbtitle b'>" + v + "</div><div class='c' data-ctg='" + v + "'></div></div>";
            });
            $("#taskblock2").html(htmlString);

            var intT = 10;
            $.each(TskList, function(k, v) {
                if (v != null) {
                    setTimeout(function() {
                        var tmpDiv = $("#TSK_" + v.UserTaskNo + "");
                        tmpDiv.fadeOut();
                        $("[data-ctg='" + v.Category + "']").append(tmpDiv);
                        tmpDiv.fadeIn();
                        tmpDiv.animate({
                            height: "20px",
                            width: "20px"
                        });
                    }, intT);
                    intT += 10;
                }
            });
        };

        // transform
        var transform_animate = function() {
            var htmlString = "";
            var ctgList = [];
            $.each(TskList, function(k, v) {
                if (v != null && $.inArray(v.Category, ctgList) < 0) {
                    ctgList.push(v.Category);
                }
            });

            // console.log(ctgList.length);
            $.each(ctgList, function(k, v) {
                htmlString += "<div class='card'><div class='tbtitle b'>" + v + "</div><div class='c' data-ctg='" + v + "'></div></div>";
            });
            $("#taskblock2").html(htmlString);

            var intT = 40;
            $.each(TskList, function(k, v) {
                if (v != null) {
                    setTimeout(function() {
                        var tmpDiv = $("#TSK_" + v.UserTaskNo + "");
                        tmpDiv.animate({
                            height: "400px",
                            width: "400px"
                        });
                        tmpDiv.fadeOut();
                        $("[data-ctg='" + v.Category + "']").append(tmpDiv);
                        tmpDiv.fadeIn();
                        tmpDiv.animate({
                            height: "20px",
                            width: "20px"
                        });
                    }, intT);
                    intT += 40;
                }
            });
        };

        // transform
        var transform_formal = function() {
            var htmlString = "";
            var ctgList = [];
            $.each(TskList, function(k, v) {
                if (v != null && $.inArray(v.Category, ctgList) < 0) {
                    ctgList.push(v.Category);
                }
            });

            // console.log(ctgList.length);
            $.each(ctgList, function(k, v) {
                htmlString += "<div class='card'><div class='tbtitle b'>" + v + "</div><div class='c' data-ctg='" + v + "'></div></div>";
            });
            $("#taskblock2").html(htmlString);

            var intT = 40;
            $.each(TskList, function(k, v) {
                if (v != null) {
                    setTimeout(function() {
                        var tmpDiv = $("#TSK_" + v.UserTaskNo + "");
                        tmpDiv.fadeOut();
                        $("[data-ctg='" + v.Category + "']").append(tmpDiv);
                        tmpDiv.fadeIn();
                    }, intT);
                    intT += 40;
                }
            });

        };

        $(document).ready(function() {
            PageInit();
        });
    </script>
</head>

<body>
    <div class="wrapper">

        <!-- header -->
        {% include "master/header.html" ignore missing %}
        <!-- sider -->
        {% include "master/sider.html" ignore missing %}

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">
                        任务状态一览图.
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-header">
                                    <div id="taskblocktitle" class="card-title">

                                    </div>
                                </div>
                                <div id="taskblock" class="card-body">
                                </div>


                                <div class="card-body">
                                    <button onclick="transform(0)" class='btn btn-success'>TRANSFORM</button>
                                    <button onclick="transform(1)" class='btn btn-warning'>RESET</button>


                                </div>

                                <div id="taskblock2" class="card-body">
                                </div>

                                <hr />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" id="tskBaseinfo">
                                            请选择一个任务！
                                        </div>
                                        <div class="col-md-6" id="tskAction">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% include "master/main-footer.html" ignore missing %}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/web/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/web/assets/js/core/popper.min.js"></script>
<script src="/static/web/assets/js/core/bootstrap.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/static/web/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/web/assets/js/ready.min.js"></script>

</html>