<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Winyra - 今日日程</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/static/web/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/web/assets/css/ready.css">
    <script src='/static/js/jquery-3.4.1.js'></script>
    <style>
        .tskpendding {
            background-color: #FF6666;
        }
        
        .tskdone {
            background-color: #0066CC;
        }
        
        .tskheader {
            background-color: #444444;
        }
        
        .tskheader th {
            color: #ffffff!important;
        }
        
        .my-control {
            padding: 2px;
        }
        
        .tskdone,
        .tskpendding td {
            color: #ffffff!important;
        }
        
        .tskcontainer {}
    </style>
    <script>
        $(document).ready(function() {
            PageInit();
        });

        var tskList = [];

        function timeStamp2String(time) {
            var datetime = new Date();
            datetime.setTime(time);
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            // var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
            // var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            // var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            return year + "-" + month + "-" + date;
        }

        var showTaskDetail = function(itemNo) {
            var item = tskList[itemNo];
            var tCategory = "<b>类别：</b>" + item.Category;
            var tSubCategory = "<b>子类：</b>" + item.SubCategory;
            var tName = "<b>名称：</b>" + item.TaskName;
            var tPoint = "<b>分值：</b>" + item.Point;
            var tFromDate = "<b>开始日期：</b>" + timeStamp2String(new Date(item.FromDate));
            var tToDate = "<b>结束日期：</b>" + timeStamp2String(new Date(item.ToDate));
            var tCheckDate = "<b>检查日期：</b>" + timeStamp2String(new Date(item.CheckDate));
            var tStatus = "<b>状态：</b>" + (item.Status == "0" ? "未完成" : "已完成");
            var htmlStr = "<div class='tskcontainer'>";
            htmlStr += "<div class='tskitem'>" + tCategory + "</div>";
            htmlStr += "<div class='tskitem'>" + tSubCategory + "</div>";
            htmlStr += "<div class='tskitem'>" + tName + "</div>";
            htmlStr += "<div class='tskitem'>" + tPoint + "</div>";
            // htmlStr += "<div class='tskitem'>" + tFromDate + "</div>";
            // htmlStr += "<div class='tskitem'>" + tToDate + "</div>";
            htmlStr += "<div class='tskitem'>" + tStatus + "</div>";
            htmlStr += "<div class='tskitem'>" + tCheckDate + "</div>";
            htmlStr += "</div>";

            $("#tskBaseinfo").html(htmlStr);

            showInfoByCtg(item, item.SubCategory);
        };

        // var finish = function(utid) {
        //     console.log(utid);

        //     $.get("http://192.168.0.108:5000/handleUserTask/" + utid + "", function(data) {
        //         // $("#calendar").fullCalendar("updateEvent", events);
        //         PageInit();
        //     });
        // };

        // 根据不同的任务类型显示需要输入的信息
        // input 参数: category 任务类型
        var showInfoByCtg = function(item, category) {
            console.log("category:" + category);
            var actions = "";
            // if (category == "背诵新概念") {
            //     // 新概念
            //     actions += "任务用时：<input /> <br />";
            //     actions += "错误数量：<input /> <br />";
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "自学课本") {
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "51Talk") {
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // } else if (category == "物理讲课") {
            //     actions += "任务用时：<input /> <br />";
            //     actions += "其他说明：<input /> <br />";
            //     actions += "<button onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            // }
            // 物理数学
            // 自学：说明
            // 测试：分数，说明
            // 讲课：用时，说明
            // 听课：说明

            // 51Talk
            // 说明

            // 运动
            // 游泳：时间，状态，说明
            // 跑步：时间，状态，公里数，说明

            // 钢琴
            // 时间，状态，流利程度，说明

            // Winyra
            // 自学：说明
            // 讲课：用时，说明
            // 实践：用时，成果

            actions += "任务用时：<input id='inA' class='my-control' /> <br />";
            actions += "错误数量：<input id='inB' class='my-control' /> <br />";
            actions += "测试分数：<input id='inC' class='my-control' /> <br />";
            actions += "自我评测：<input id='inD' class='my-control' /> <br />";
            actions += "总公里数：<input id='inE' class='my-control' /> <br />";
            actions += "其他说明：<textarea id='inF' class='my-control' ></textarea> <br />";
            actions += "<button class='btn btn-success' onclick='finish(" + item.UserTaskNo + ")'>提交</button>";
            $("#tskAction").html(actions);
        };

        var finish = function(utid) {

            var tsk = tskList[utid];
            console.log(tsk.Point);

            var a = $("#inA").val();
            var b = $("#inB").val();
            var c = $("#inC").val();
            var d = $("#inD").val();
            var e = $("#inE").val();
            var f = $("#inF").val();

            $.post(
                "http://192.168.0.108:5000/handleUserTask/" + utid + "",
                JSON.stringify({
                    "inA": a,
                    "inB": b,
                    "inC": c,
                    "inD": d,
                    "inE": e,
                    "inF": f,
                    "Point": tsk.Point
                }),
                function(data) {
                    PageInit();
                    $("#tskAction").html("");
                    $("#tskBaseinfo").html("");
                }
            )
        };

        var ShowPie = function(a, b) {
            var done = ((100 * a) / (a + b)).toFixed(0);
            var pendding = ((100 * b) / (a + b)).toFixed(0);

            Chartist.Pie('#monthlyChart', {
                labels: ['' + done + '%', '' + pendding + '%'],
                series: [done, pendding]
            }, {
                plugins: [
                    Chartist.plugins.tooltip()
                ]
            });
        }

        var PageInit = function() {
            var curDate = timeStamp2String(new Date().getTime());
            $.get("http://192.168.0.108:5000/getTasksByDate/" + localStorage.USER_NO + "/" + curDate, function(data) {

                var done = 0;
                var pendding = 0;

                $("#taskList").html("");
                $.each(data, function(i, item) {
                    // UserTaskNo, Category, SubCategory, TaskName, Tasks.Point
                    var tmpString = "";
                    tmpString += "<tr class='" + (item.Status == 0 ? "tskpendding" : "tskdone") + "'>";
                    // tmpString += "	<td scope='row'>" + item.UserTaskNo + "</td>";
                    tmpString += "	<td>[" + item.Category + "]" + item.SubCategory + "</td>";
                    tmpString += "	<td>" + item.TaskName + "</td>";
                    // tmpString += "	<td>" + item.Point + "</td>";
                    // tmpString += "	<td>" + (item.Status == 0 ? "未完成" : "已完成") + "</td>";
                    tmpString += "	<td><button onclick='showTaskDetail(\"" + item.UserTaskNo + "\")'>" + (item.Status == 0 ? "完成" : "取消") + "</button></td>";
                    tmpString += "</tr>";

                    $("#taskList").append(tmpString);

                    if (item.Status == "1")
                        done += 1;
                    else
                        pendding += 1;


                    tskList[item.UserTaskNo] = item;
                });

                var msgStr = (pendding == 0) ?
                    "<h6 style='color:red'>恭喜您完成了今天的所有任务，好好出去玩吧！</h6>" :
                    "你还有" + pendding + "项任务没有完成，加油哦!";

                $("#tskmsg").html(msgStr);
                ShowPie(done, pendding);
            });
        };
    </script>
</head>

<body>
    <div class="wrapper">


        <!-- header -->
        {% include "master/header.html" ignore missing %}
        <!-- sider -->
        {% include "master/sider.html" ignore missing %}
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">日程表</h4>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">任务情况概览</div>
                                </div>
                                <div class="card-body">
                                    <div id="monthlyChart" class="chart chart-pie"></div>
                                </div>
                                <div class="card-body">
                                    <div id="tskmsg">恭喜您完成了今天的所有任务！</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">任务列表</div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="tskheader">
                                                <!-- <th>#</th> -->
                                                <th>任务类别</th>
                                                <th>任务名称</th>
                                                <!-- <th>任务积分</th>
                                                <th>任务状态</th> -->
                                                <th>任务操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="taskList">

                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">任务详情</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" id="tskBaseinfo">
                                            请选择一个任务！
                                        </div>
                                        <div class="col-md-6" id="tskAction">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "master/main-footer.html" ignore missing %}
        </div>
    </div>


</body>
<script src="/static/web/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/web/assets/js/core/popper.min.js"></script>
<script src="/static/web/assets/js/core/bootstrap.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/static/web/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/web/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/static/web/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/static/web/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/web/assets/js/ready.min.js"></script>

<script src="/static/web/assets/js/demo.js"></script>

</html>