<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎使用Winyra！</title>
    <link href="/static/login/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="/static/login/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/my.js"></script>
    
    <style>
        .vintage1 {
            background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
            text-shadow: 5px -5px black, 4px -4px white;
            font-weight: bold;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text
        }
        
        .text-reflect-base {
            color: palegreen;
            -webkit-box-reflect: below 10px;
        }
    </style>
    <script>
        var doLogin = function() {
            $.post(
                sys.hostUrl+"/login",
                JSON.stringify({
                    "username": $("#username").val(),
                    "password": $("#password").val()
                }),
                function(data) {

                    if (data.NO == null) {
                        alert("登录失败，请与Linda同学联系！");
                    } else {
                        localStorage.USER_NAME = data.NAME;
                        localStorage.USER_NO = data.NO;
                        localStorage.USER_PHOTO_URL = data.PhotoUrl;

                        window.location.href = "../web/components.html";
                    }
                }
            )
        };
    </script>


</head>

<body>


    <div class="header">
        <h1 class="headerLogo">
            <a title="后台管理系统" target="_blank" href="#"><img alt="logo" width="260px" src="/static/login/images/logo-4.png"></a>
        </h1>
        <div class="headerNav">
            <h4 class="vintage1"> Nothing Is Impossible &nbsp;&nbsp;</h4>
            <h4 class='text-reflect-base'> Nothing Is Impossible &nbsp;</h4>
        </div>
    </div>

    <div class="banner">

        <div class="login-aside">
            <div id="o-box-up"></div>
            <div id="o-box-down" style="table-layout:fixed;">
                <div class="error-box"></div>

                <div class="fm-item">
                    <label for="logonId" class="form-label">用户名：</label>
                    <input type="text" placeholder="输入账号" maxlength="100" id="username" class="i-text" ajaxurl="demo/valid.jsp" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！">
                    <div class="ui-form-explain"></div>
                </div>

                <div class="fm-item">
                    <label for="logonId" class="form-label">密码：</label>
                    <input type="password" placeholder="输入密码" maxlength="100" id="password" class="i-text" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！">
                    <div class="ui-form-explain"></div>
                </div>

                <!-- <div class="fm-item pos-r">
                    <label for="logonId" class="form-label">验证码</label>
                    <input type="text" value="输入验证码" maxlength="100" id="yzm" class="i-text yzm" nullmsg="请输入验证码！">
                    <div class="ui-form-explain"><img src="images/yzm.jpg" class="yzm-img" /></div>
                </div> -->

                <div class="fm-item">
                    <label for="logonId" class="form-label"></label>
                    <input type="submit" value="" tabindex="4" id="send-btn" class="btn-login" onclick="doLogin()">
                    <div class="ui-form-explain"></div>
                </div>

            </div>

        </div>

        <div class="bd">
            <ul>
                <li style="background:url(/static/login/themes/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;">
                    <a href="#"></a>
                </li>
                <li style="background:url(/static/login/themes/theme-pic2.jpg) #BCE0FF center 0 no-repeat;">
                    <a href="#"></a>
                </li>
            </ul>
        </div>

        <div class="hd">
            <ul></ul>
        </div>
    </div>


    <div class="banner-shadow"></div>

    <div class="footer">
        <p>Copyright &copy; 2019. <b>LMS</b> All rights reserved.</p>
    </div>

</body>

</html>